<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Popular Shows!</h1>
      <p class="lead">bfolkwjef w;elfkn </p>
    </div>
  </div>
  <div *ngFor="let shows of shows">
    <div class="col-md">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-left" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button class="btn btn-primary" (click)="pageFunc()">
            Movies
          </button>
        </div>
      </div>
    </div>
  </div>
