<div class="jumbotron jumbotron-fluid" style="background-color: #4b296b;
color:#a7a2a9;">
  <div class="container">
    <h1 class="display-4">{{pageTitle}}</h1>
    <p class="lead">{{pageDiscription}}</p>
  </div>
</div>
<div class="container">
  <div class="row" style="width: 65%;
  text-align: left;
  margin-left: 17%;">
    <div class="col-md">
      <div class="card" style="width: 20rem;
      background-color: #4c212a;
      padding: 3px 3px;
      margin-bottom: 12px;">
        <img [src]="'https://image.tmdb.org/t/p/w185_and_h278_bestv2'+movies.results[0].poster_path"
        style="width: 15rem;
        height:auto;
        margin-left: 2.5rem;
        margin-top: 1rem;" 
        class="card-img-left" alt="...">
        <div class="card-body">
          <h5 class="card-title"
          style="color: #a7a2a9;">{{movies.results[0].title}}</h5>
          <p class="card-text" style="font-size: 12pt;
          color: #a7a2a9;">{{movies.results[0].release_date}}</p>
          <p class="card-text"
          style="font-size: 10pt; color: #a7a2a9;">{{movies.results[0].overview}}</p>
          <button class="btn btn-light" [routerLink]="['/movies']"
          style="background-color: #4b296b; color: #a7a2a9;">
            Movies
          </button>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card" style="width: 20rem;
      background-color: #4c212a;
      padding: 3px 3px;
      margin-bottom: 12px;">
        <img [src]="'https://image.tmdb.org/t/p/w185_and_h278_bestv2'+shows.results[0].poster_path"
        style="width: 15rem;
        height: auto;
        margin-left: 2.5rem;
        margin-top: 1rem;" 
        class="card-img-left" alt="...">
        <div class="card-body">
          <h5 class="card-title"
          style="color: #a7a2a9;">{{shows.results[0].original_name}}</h5>
          <p class="card-text" style="color:#a7a2a9;
          font-size:12pt;">{{shows.results[0].first_air_date}}</p>
          <p class="card-text"
          style="color: #a7a2a9;
          font-size: 10pt;">{{shows.results[0].overview}}</p>
          <button class="btn btn-light" [routerLink]="['/shows']"
          style="background-color: #4b296b;
          color: #a7a2a9;">
            TV Shows
          </button>
        </div>
      </div>
    </div>
  </div>
