<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{pageTitle}}</h1>
    <p class="lead">{{pageDiscription}}</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-left" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movies.results[0].title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button class="btn btn-primary" [routerLink]="['/movies']">
            Movies
          </button>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card" style="width: 20rem;">
        <img src="..." class="card-img-left" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button class="btn btn-primary" [routerLink]="['/shows']">
            TV Shows
          </button>
        </div>
      </div>
    </div>
  </div>
